body {
    font-family: 'Fredoka One', sans-serif;
    background-color: #ffe4fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Previene el desplazamiento fuera de la vista */
}

.container {
    background-color: #fff2fd;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 500px;
    position: relative; /* Mantiene la posición relativa */
    max-height: 100vh; /* Asegura que el contenido no se salga de la pantalla */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
}

.barra-progreso {
    width: 100%;
    background-color: #ffc8f7;
    border: 1px solid #df07c2;
    border-radius: 5px;
    overflow: hidden;
    margin: 5px 0;
}

.progreso {
    height: 20px;
    background-color: #ff28db;
    text-align: center;
    color: white;
    line-height: 20px;
    border-radius: 5px;
}

.oculto {
    display: none;
}

#mascota-imagen {
    width: 200px; /* Aumenta el tamaño de la imagen */
    height: 200px;
    border: 1px solid #df07c2;
    border-radius: 10px;
    margin: 10px auto;
    display: block;
}

.btn {
    margin: 5px 0;
    background-color: #ff62df;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ancho completo */
}

.btn i {
    margin-right: 8px;
}

.btn:hover {
    background-color: #ff28db;
}

.btn-back, .btn-cerrar-menu {
    background-color: #c902aa;
    margin-top: 10px;
}

.btn-back:hover, .btn-cerrar-menu:hover {
    background-color: #a40489;
}

#alimentar .btn, #citas .btn, #pasear .btn, #carrera .btn {
    margin: 10px 0;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item .btn-sm {
    margin-left: 10px;
}

.alert-info {
    background-color: #f1c8f5;
    border-color: #df07c2;
    color: #a40489;
}
